* {
    padding: 0;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111111;

}

.div1 {
    height: 60px;
    width: 100%;
    display: flex;
    color: white;
}



.list {
    list-style-type: none;
    display: flex;
    height: 12vh;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    font-weight: bold;

}


.list a {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: rgb(20, 133, 220);
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

.list a:hover::after {
    width: 100%;

}


.left-container {
    background-color: #262525;
    margin-left: 26%;
    margin-right: 14%;
    margin-top: 250px;
}
.name{
    height: 400px;
}


.icon {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 100px;

}

.content h2 span {
    color: rgb(20, 133, 220);
}

.content .p1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(to right, rgb(185, 206, 214),rgb(45, 107, 155),rgb(20, 133, 220));
    background: color-mix(in HSL, color percentage, color percentage);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 16px;
}

.content .p2 {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 18px;
    width: 450px;
    line-height: 20px;
    
}


.icon a {
    margin: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    :hover{
        color: rgb(108, 177, 230);
    }
}

.stack {
    margin-top: 30px;
    display: flex;
}

.stack p {
    font-size: 0.9rem;
    margin-right: 5%;
}

.stack img {
    height: 20px;
    width: 20px;
    margin-right: 3%;
}


.left-container .circle {
    border-radius: 50%;
    background-image: url("assets/photo.png");
    background-size: 100%;
    height: 250px;
    width: 250px;
    margin-top: -40%;
    margin-left: 65%;

}

.about {
    color: white;
    display: flex;
    padding-top: 20%;

}

.about-image img {
    height: 300px;
    width: 330px;
    border-radius: 4%;
}

.about-text {
    margin-left: 65px;
    margin-right: 75px;
    height: 400px;
    width: 320px;
    margin-top: 5px;

}

.p-text span {
    font-size: large;
}

h6 {
    color: rgb(20, 133, 220);
    margin-bottom: 10px;
    font-size: smaller;
    font-weight: bold;

}

h3 {
    margin-bottom: 10px;
}

.p-text {
    font-size: small;
    line-height: 24px;
    text-align: justify;
}

.project {
    padding-top: 16%;
}

.pro-div {
    display: flex;
    margin-top: 8%;
    margin-bottom: 10%;
    justify-content: space-around;
    width: 90%;
}

.pro-image {
    width: 45%;
}

.pro-image img {
    width: 94%;
    height: 63%;
}

.pro-details {
    width: 40%;
    font-size: small;
    line-height: 24px;
    text-align: justify;
}

.pro-stack {
    display: flex;
    justify-content: center;
}

.pro-stack img {
    height: 20px;
    width: 20px;
    margin: 5%;
}

.pro-demo {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.pro-demo a {
    text-decoration: none;
    color: white;
}
.pro-demo h3{
    :hover{
        color: rgb(108, 177, 230);
    }
}

.pro-demo i {
    margin-left: 5px;
    font-size: 15px;
}

.container {
    padding-top: 16% ;
    padding-bottom: 10%;
    width: 80%;
}

.container h4 {
    margin-bottom: 40px;
    color: rgb(20, 133, 220);
}
.form{
    margin-left: 20%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    color: white
}

.form-group textarea {
    height: 150px;
    color: white
}

.form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.form-group button:hover {
    background-color: #0056b3;
}
